{% extends "./nunjucks/templates/default.njk" %}

{% block content %}
<h3>Education</h3>
<hr>
<ul>
  <li>B.S. in Computer Science @ UCLA, 2017-2020</li>
  <li>Lynbrook High School, 2013-2017</li>
  <ul>
  	<li> 4.0 GPA, Valedictorian </li>
  </ul>
</ul>
<h3>Experience</h3>
<hr>
<h3>Projects</h3>
<hr>
<h3>Awards</h3>
<hr>
{% endblock %}
